@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body 
{
    max-width: 980px;
    margin:auto;
}
.slogan 
{
    font-family: 'Almendra Display', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}
.logo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.logo_image
{
    height: 26px;
    display: flex;
    align-items: center;
}
#products
{
    background-color: orange;
}
.product
{
    background-color: green;
    text-align: center;
}
.product_image
{
    height: 250px;
}
.product_name
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.add_to_cart_quantity
{
    height: 32px;
    line-height: 32px;
}
.add_to_cart_button
{
    height: 250px;
}
select 
{
        height:32px;
        line-height:32px;
        background:#f4f4f4;
}