@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body 
{
    max-width: 980px;
    margin:auto;
    background-image: linear-gradient(#c40a32, #998100);
}
.slogan 
{
    font-family: 'Almendra Display', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}
.first_line 
{
    justify-content: space-between;
    flex: 1;
    align-items: center;
    display: flex;
}
.second_line 
{
    flex: 1;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    background-image: url("../images/design/heartnew.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 26px;
    padding-right: 28px;
}
.logo_image
{
    height: 26px;
}
.tagline
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;   
}
.search
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.search_button
{
    background-color: #ffd700;
    border: 1px solid black;
}
.signin
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.signin_button
{
    background-color: #ffd700;
    border: 1px solid black;
}
.basket
{
    height: 26px;
}
.basket_image
{
    height: 26px;
}
@media (min-width: 500px) {
    #products {
        display: grid;
        grid-template-columns: 1fr 1fr;    
        grid-gap: 5px;
    }    
}

@media (min-width: 660px) {
    #products {
        grid-template-columns: 1fr 1fr 1fr;    
    }    
}

@media (min-width: 980px) {
    #products {
        grid-template-columns: repeat(3, 1fr);    
    }    
}
.product
{
    text-align: center;
    box-shadow: lightgray 3px 3px;
    margin: 10px;
    min-width: 300px;
}
.product_image
{
    height: 250px;
}
.product_name
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.add_to_cart_quantity
{
    height: 32px;
    line-height: 32px;
}
.add_to_cart_button
{
    height: 32px;
    background-color: #ffd700;
    border: 1px solid black;
}
select 
{
    height:32px;
    line-height:32px;
    background:#f4f4f4;
}
a.link
{
    background-color: #ff6624;
    padding: 15px;
    border: 1px solid #ffd700;
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
}
a.link:hover
{
    text-decoration: underline;
    background-color: red;
}
.provit
{
    width: 100%;
}